framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed:
                dsn: 'doctrine://default?queue_name=failed'

        routing:
            'App\Message\UserRegisteredMessage': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
